<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"
        content="Rafael Henrique de Sousa Vieira, Heloisa Marani Pereira de Menezes, Larrisa Banaco Pussu Oscar">
    <meta name="keywords"
        content="Robotic Hand, html, css, javascript, python, flask, frontend, backend, route, Rafael Henrique de Sousa Vieira, Heloisa Marani Pereira de Menezes, Larrisa Banaco Pussu Oscar">
    <meta name="robots" content="index, follow">
    <meta name="description"
        content="In this repository, a landing page was made for a robotic hand project, which aims to improve the life of someone who has muscle hypertrophy and cannot open their hand.">
    <link rel="icon" type="image.png" sizes="32x32" href="../static/logo.jpg">

    <title>Robotic Hand</title>

    <link rel="stylesheet" href="../static/glider.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="preloader">
        <img src="../static/preloader.gif" alt="preloader.gif">
    </div>

    <header>
        <nav>
            <p>ARHAL</p>

            <div class="info_container">
                <a class="info" href="#why">Porque?</a>
                <a class="info" href="#how">Como?</a>
                <a class="info" href="#what">O que?</a>
                <a class="info" href="#contacts">Entrar em Contato</a>
                <img id="hamburguer" src="../static/icon-hamburger.svg" alt="icon-hamburger.svg">
            </div>
        </nav>

        <div class="login">
            <img src="../static/login_image.svg" alt="login_image.svg">

            <h2>Login</h2>

            <div class="inputs">
                <input id="user" type="text" placeholder="Usuário" autocomplete="off">
                <input id="password" type="password" placeholder="Senha" autocomplete="off">
                <input id="btn_login" type="button" value="Login" onclick="setRoute()">
            </div>
        </div>

        <img class="logo" src="static/logo.jpg" alt="logo.jpg">
        <a href="#container_slide"><img id="arrow_header" class="arrow" src="../static/icon-arrow-down.svg"
                alt="icon-arrow-down.svg"></a>

        <div class="qr_code">
            <span class="close_qr_code">&times;</span>
            <img src="../static/qr_code.png" alt="qr_code.png">
        </div>
    </header>

    <div id="container_slide" class="container_slide">
        <div class="arrow_slide_prev"></div>

        <div class="glider">
            <div class="card">
                <span>1</span>
                <p>Adiciona o Arduino UNO</p>
                <img class="img_card" src="../static/step1.png" alt="step1.png">
            </div>

            <div class="card">
                <span>2</span>
                <p>Adiciona a Protoboard</p>
                <img class="img_card" src="../static/step2.png" alt="step2.png">
            </div>

            <div class="card">
                <span>3</span>
                <p>Adiciona 5 servomotores</p>
                <img class="img_card" src="../static/step3.png" alt="step3.png">
            </div>

            <div class="card">
                <span>4</span>
                <p>Adiciona botão de liga / desliga</p>
                <img class="img_card" src="../static/step4.png" alt="step4.png">
            </div>

            <div class="card">
                <span>5</span>
                <p>Adiciona Aparelho de Choque</p>
                <img class="img_card" src="../static/step5.png" alt="step5.png">
            </div>

            <div class="card">
                <span>6</span>
                <p>Adiciona as ligações</p>
                <img class="img_card" src="../static/step6.png" alt="step6.png">
            </div>

            <div class="card">
                <span>7</span>
                <p>Projeto Final</p>
                <img class="img_card" src="../static/final_project.png" alt="final_project.png">
            </div>
        </div>

        <div class="arrow_slide_next"></div>
        <div role="tablist" class="dots"></div>

        <div id="modal_steps" class="modal">
            <span class="close">&times;</span>
            <img src="" class="modal-content" id="img_modal">
        </div>

        <svg class="svg_container_slide transition duration-300 ease-in-out delay-150" width="100%" height="100%"
            id="svg" viewBox="0 0 1440 500" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M 0,500 C 0,500 0,250 0,250 C 125.59808612440196,231.4736842105263 251.19617224880392,212.94736842105263 337,219 C 422.8038277511961,225.05263157894737 468.81339712918646,255.68421052631578 539,274 C 609.1866028708135,292.3157894736842 703.5502392344499,298.3157894736843 821,279 C 938.4497607655501,259.6842105263157 1078.9856459330144,215.05263157894734 1186,206 C 1293.0143540669856,196.94736842105266 1366.5071770334928,223.47368421052633 1440,250 C 1440,250 1440,500 1440,500 Z"
                stroke="none" stroke-width="0" fill="#d9d9d9" fill-opacity="1"
                class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
        </svg>
    </div>

    <div id="why" class="container_main">
        <a href="">
            <h2>Porque?</h2>
        </a>

        <div class="container_primary">
            <p>Aproximadamente 10 milhões de pessoas sobrevivem a um <strong>derrame</strong> a cada ano. Na grande
                parte das vezes os resultados são permanentes, como: <strong>a perda de funções das mãos.</strong></p>

            <div class="img_primary">
                <img src="../static/hand_weakness.webp" alt="hand_weakness.webp">
            </div>
        </div>

        <div class="container_primary">
            <div class="img_primary">
                <img src="../static/hand_weakness_2.webp" alt="hand_weakness_2.webp">
            </div>

            <p><strong>Síndrome do túnel do carpo</strong> é uma doença onde os dedos podem doer, formigar e ficar
                dormentes. Com o tempo, os músculos da mão na parte dorsal podem enfraquecer e retrair-se pela
                <strong>falta de uso (atrofia).</strong>
            </p>
        </div>

        <div class="container_primary">
            <p>As <strong>distrofias musculares</strong> são desordens caracterizadas por fraqueza e <strong>atrofia
                    muscular de origem genética</strong> que ocorre pela ausência ou formação inadequada de proteínas
                essenciais para o funcionamento natural do corpo.</p>

            <div class="img_primary">
                <img src="../static/hand_weakness_3.webp" alt="hand_weakness_3.webp">
            </div>
        </div>

        <div class="container_primary">
            <div class="img_primary">
                <img src="../static/hand_weakness_4.webp" alt="hand_weakness_4.webp">
            </div>

            <p>A <strong>Dermatomiosite</strong> é uma doença inflamatória, de causa desconhecida,
                caracterizada por <strong>fraqueza muscular</strong>, e que causa manifestações na pele
                características, como: manchas vermelhas.</p>
        </div>

        <div class="container_primary">
            <p>A <strong>Esclerose Lateral Amiotrófica (ELA)</strong> é uma doença neurológica
                do sistema nervoso que causa <strong>paralisia motora</strong> progressiva, irreversível e de maneira
                limitante em quase todos os músculos esqueléticos do corpo, comprometendo a fala, a respiração, a
                coordenação motora e outros movimentos.</p>

            <div class="img_primary">
                <img src="../static/hand_weakness_5.webp" alt="hand_weakness_5.webp">
            </div>
        </div>

        <div class="container_secundary">
            <p>Em todos os casos acima, o resultado final mais comum é a Atrofia Muscular, que é o enfraquecimento
                muscular devido a diminuição do tamanho das células. Está presente na terceira idade e, por isso, há a
                necessidade constante de fortalecimento muscular. E foi pensando nisso que desenvolvemos o
                ARHAL com o intuito de fortificar os músculos atrofiados da mão de forma mais simples do que a
                atualmente conhecida. </p>
        </div>
    </div>

    <div id="how" class="container_main pink">
        <a href="">
            <h2>Como?</h2>
        </a>

        <div class="container_primary">
            <div class="video_primary">
                <iframe src="https://www.youtube.com/embed/ghAIac5Q99M" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>

            <p>Em primeiro lugar tivemos a ideia do que fazer (uma luva robótica, que iria ajudar no
                tratamento da atrofia muscular) e logo em seguida buscamos referências para conseguir
                torna-lá realidade e nessa pesquisa conseguimos encontrar esse projeto com a mesma ideia que a nossa, o
                FES, porém o FES utiliza Eletrochoques e nós utilizamos a simples força de fios</p>
        </div>

        <div class="container_primary">
            <p>Concluído isso, passamos a pensar como seria o projeto no Tinkercad e logo conseguimos
                encontrar um modelo desejado e efetuamos o seu design. Então o projeto já estava como deveria estar
                no final, porém ainda faltavam alguns ajustes para torna-lo, finalmente, funcional. No
                Tinkercad colocamos um Arduino UNO e uma Protoboard, depois colocamos 5 servomotores,
                um para cada dedo da mão, após isso colocamos um botão de liga e desliga e, por último, um
                aparelho de choque, que irá ajudar no tratamento</p>

            <div class="img_primary">
                <img src="../static/step6.png" alt="step6.png">
            </div>
        </div>

        <div class="container_primary">
            <div class="img_primary">
                <img src="../static/project_code.png" alt="project_code.png">
            </div>

            <p>Já na parte do código do projeto, concluímos rapidamente todo o código, já que a parte
                mais complexa foi ter a ideia e concluir que um servomotor puxaria cada dedo da mão. No código temos
                duas principais funções, a push e a pull, essas funções são responsáveis por puxar o
                dedo do usuário e por soltar o mesmo. Também temos, dentro do código, um botão de liga e
                desliga, cuja função é ficar repetindo o pull e o push quando o usuário pressionar o botão
                e, por último, o aparelho de choque que funciona de acordo com a funcionalidade do
                botão</p>
        </div>

        <div class="container_primary">
            <p>Juntando todas os processos descritos anteriormente, podemos chegar ao modelo ao lado. Totalmente
                funcional com os 5 servomotores, o botão de liga e desliga e o aparelho de choque, todos com suas
                devidas funções no projeto de uma maneira simples, onde fica tudo organizado e prático para que qualquer
                um consiga entender</p>

            <div class="video_primary">
                <iframe src="../static/final_project.mp4" title="Project Final" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <!-- CORRIGIR -->
        <div class="container_secundary">
            <p>Clique aqui para adquirir o produto em primeira mão, ou para fazer perguntas e oferecer melhorias. Deixe
                seus dados e alguém irá te retornar o mais rapído possível.</p>

            <a href="#contacts"><button class="btn_contact">Entrar em Contato</button></a>
        </div>

        <div class="container_secundary">
            <p>Portanto, a partir de todas essas <strong>etapas e dificuldades</strong>, nós conseguimos criar todo o
                circuito do projeto e conseguimos também imaginar como ele seria realmente finalizado. Feito isso
                podemos dizer que o
                projeto está <strong>funcional</strong>, somente falta a estrutura do projeto em si, porém sua função
                está concluída.</p>
        </div>

        <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 500" xmlns="http://www.w3.org/2000/svg"
            class="svg_container transition duration-300 ease-in-out delay-150">
            <path
                d="M 0,500 C 0,500 0,250 0,250 C 125.59808612440196,231.4736842105263 251.19617224880392,212.94736842105263 337,219 C 422.8038277511961,225.05263157894737 468.81339712918646,255.68421052631578 539,274 C 609.1866028708135,292.3157894736842 703.5502392344499,298.3157894736843 821,279 C 938.4497607655501,259.6842105263157 1078.9856459330144,215.05263157894734 1186,206 C 1293.0143540669856,196.94736842105266 1366.5071770334928,223.47368421052633 1440,250 C 1440,250 1440,500 1440,500 Z"
                stroke="none" stroke-width="0" fill="#d9d9d9" fill-opacity="1"
                class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
        </svg>
    </div>

    <div id="what" class="container_main">
        <a href="">
            <h2>O que?</h2>
        </a>

        <!-- <ol>
            <li>dados com melhorias</li>
            <li>perna e outros membros</li>
            <li>podemos melhorar</li>
        </ol> -->

        <div class="info_project">
            <div class="container_info">
                <h2>Natural</h2>
                <p>Nossas luvas se conectam com os problemas dos usuários, aumentando a mobilidade de suas mãos de
                    maneira natural e progressiva.</p>
            </div>

            <div class="middle">
                <div class="container_info">
                    <h2>Uso Diário</h2>
                    <p>Perfeitamente desenvolvida para o uso diário, nossa luva é compacta, leve, fácil de usar,
                        discreta
                        e confortável, fazendo com que seja a melhor experiência para o usuário.</p>
                </div>

                <div class="container_info">
                    <h2>Indicações</h2>
                    <p>Facilitação neuromuscular, Substituição ortica, Controle de Espasticidade, Parapleggias,
                        paraparesias (Hemiplegias, lesão medular, etc.), Esclerose múltipla, Hiportrofia por desuso,
                        Paralisia cerebral</p>
                </div>

                <div class="container_info">
                    <h2>Importante</h2>
                    <p>Nós lhe damos uma mãozinha para você conseguir aproveitar quem você ama e quem você se importa
                        por mais tempo.</p>
                </div>
            </div>


            <div class="container_info">
                <h2>Funcional</h2>
                <p>A luva ARHAL tem como base a produção da contração através de motores, que despolariza o nervo motor,
                    produzindo uma resposta sincrônica em todas as unidades motoras do músculo.</p>
            </div>
        </div>

        <h3>E assim nós conseguimos criar o <strong>ARHAL</strong></h3>

        <model-viewer src="../static/final_project.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls
            poster="poster.webp" shadow-intensity="2" exposure="0.37" shadow-softness="0.4" auto-rotate
            rotation-per-second="80deg" camera-orbit="20deg 82deg auto">
        </model-viewer>
    </div>

    <div class="container_form">
        <form id="contacts" method="post">
            <div class="name">
                <label for="name">Nome: </label>
                <input id="name" name="name" type="text" autocomplete="off" placeholder=" ">
            </div>

            <div class="email">
                <label for="email">Email: </label>
                <input id="email" name="email" type="text" autocomplete="off" placeholder=" ">
            </div>

            <div class="phone">
                <label for="phone">Telefone: </label>
                <input id="phone" name="phone" type="text" autocomplete="off" placeholder=" ">
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <footer>
        <p>Coded by <a href="">Rafael Henrique de Sousa Vieira</a>, <a href="">Heloisa Marani Pereira de Menezes</a>
            and
            <a href="">Larissa Banaco Pussu Oscar</a>.
        </p>
    </footer>

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script src="../static/glider.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>